@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@200;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Geologica', sans-serif; }

body {
  background-color: #ffffff; }

header {
  background-color: #fd3434;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  header .bloque-uno {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    header .bloque-uno .logo {
      width: 150px;
      height: auto; }
      header .bloque-uno .logo h1 {
        color: #ff893b;
        font-weight: 800;
        font-size: 1.5rem; }
        header .bloque-uno .logo h1 span {
          color: #474747; }
    header .bloque-uno .redes a {
      padding: .5rem; }
      header .bloque-uno .redes a i {
        color: #ffffff;
        font-size: 1.5em; }
  header .button {
    display: none;
    cursor: pointer;
    background-color: transparent;
    border: none; }
    header .button svg {
      width: 30px;
      height: 30px;
      color: white;
      transition: 0.3s; }
  header .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 0.1px solid #474747; }
    header .nav .ul {
      display: flex;
      flex-flow: wrap;
      justify-content: center;
      align-items: center; }
      header .nav .ul .li {
        padding: 1rem; }
        header .nav .ul .li a {
          text-decoration: none;
          color: #ffffff; }

main .hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.562)), url(../img/portada-uno.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 15rem;
  padding-bottom: 15rem; }
  main .hero .informacion-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    main .hero .informacion-hero h2 {
      color: #ff893b;
      margin-bottom: 1rem; }
      main .hero .informacion-hero h2 span {
        color: #ffffff; }
    main .hero .informacion-hero p {
      text-align: center;
      color: #ffffff; }
    main .hero .informacion-hero a {
      background-color: #fd3434;
      color: #ffffff;
      padding: 1rem;
      border-radius: 5px;
      margin-top: 1rem; }

main .about-name {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  main .about-name .about-me-foto {
    margin-left: 20rem; }
    main .about-name .about-me-foto img {
      width: 400px;
      height: auto; }
  main .about-name .about-text h2 {
    color: #ff893b;
    margin-bottom: 1rem;
    text-align: center; }
    main .about-name .about-text h2 span {
      color: #525252; }
  main .about-name .about-text p {
    text-align: center;
    padding-left: 5rem;
    padding-right: 5rem; }

main .nuestros-vehiculos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #fd3434; }
  main .nuestros-vehiculos h3 {
    font-size: 2em;
    color: #ffffff; }

main .servicios {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  margin-top: 1rem;
  margin-bottom: 1rem; }
  main .servicios .servicios-card {
    text-align: center;
    width: 300px;
    height: auto;
    background-color: #a8a8a8;
    border-radius: 5px;
    padding: 30px;
    margin: 20px;
    transition: 1s; }
    main .servicios .servicios-card img {
      width: 100%;
      height: 300px;
      margin-bottom: 10px;
      border-radius: 10px; }
    main .servicios .servicios-card h3 {
      font-size: 2em;
      margin: 0;
      margin-bottom: 3px; }
    main .servicios .servicios-card p {
      margin-bottom: 1.5rem; }
    main .servicios .servicios-card a {
      background-color: #fd3434;
      color: #ffffff;
      padding: 10px;
      border-radius: 5px; }
    main .servicios .servicios-card:hover {
      transform: scale(1.1); }

main .destinos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap; }
  main .destinos div {
    padding: 5rem;
    border-radius: 1rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem; }
  main .destinos .eventos-empresariales {
    background-image: linear-gradient(rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.562)), url(../img/empresarial.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
    main .destinos .eventos-empresariales h3 {
      color: #ffffff; }
  main .destinos .turismo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.562)), url(../img/turismo.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem; }
    main .destinos .turismo h3 {
      color: #ffffff; }
  main .destinos .excursiones {
    background-image: linear-gradient(rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.562)), url(../img/excurciones.webp);
    background-repeat: no-repeat;
    background-size: cover; }
    main .destinos .excursiones h3 {
      color: #ffffff; }
  main .destinos .casamientos {
    background-image: linear-gradient(rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.562)), url(../img/casamiento.webp);
    background-repeat: no-repeat;
    background-size: cover; }
    main .destinos .casamientos h3 {
      color: #ffffff; }
  main .destinos .cumpleanios {
    background-image: linear-gradient(rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.562)), url(../img/cumple.webp);
    background-repeat: no-repeat;
    background-size: cover; }
    main .destinos .cumpleanios h3 {
      color: #ffffff; }
  main .destinos .eventos {
    background-image: linear-gradient(rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.562)), url(../img/eventos-deportivos.webp);
    background-repeat: no-repeat;
    background-size: cover; }
    main .destinos .eventos h3 {
      color: #ffffff; }

main .formulario-de-contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem; }
  main .formulario-de-contacto h2 {
    color: #000000;
    width: 100%;
    text-align: center;
    margin-top: 1rem; }
  main .formulario-de-contacto form {
    width: 38rem;
    margin: auto;
    background-color: #ffffff; }
    main .formulario-de-contacto form input {
      margin: 12px;
      padding: 8px;
      width: 38rem; }
    main .formulario-de-contacto form textarea {
      margin: 12px;
      padding: 8px;
      min-width: 38rem;
      max-width: 38rem;
      min-height: 100px;
      max-height: 300px; }
    main .formulario-de-contacto form .btn {
      background-color: #fd3434;
      color: #ffffff;
      border: none;
      padding: 1rem; }

main .chofer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  margin-right: 20rem;
  margin-top: 4rem;
  margin-bottom: 8rem; }
  main .chofer img {
    width: 300px;
    height: auto;
    border-radius: 1rem; }
  main .chofer .tex-chof h2 {
    text-align: center;
    margin-bottom: 2rem; }
  main .chofer .tex-chof p {
    padding-left: 10rem;
    padding-right: 10rem;
    text-align: center; }

main .about-name-dos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 7rem; }
  main .about-name-dos .about-text h2 {
    color: #ff893b;
    margin-bottom: 1rem;
    text-align: center; }
    main .about-name-dos .about-text h2 span {
      color: #525252; }
  main .about-name-dos .about-text p {
    text-align: center; }

main .cont-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  main .cont-info .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem; }
    main .cont-info .form h2 {
      color: #000000;
      width: 100%;
      text-align: center;
      margin-top: 1rem; }
    main .cont-info .form form {
      width: 38rem;
      margin: auto;
      background-color: #ffffff; }
      main .cont-info .form form input {
        margin: 12px;
        padding: 8px;
        width: 38rem; }
      main .cont-info .form form textarea {
        margin: 12px;
        padding: 8px;
        min-width: 38rem;
        max-width: 38rem;
        min-height: 100px;
        max-height: 300px; }
      main .cont-info .form form .btn {
        background-color: #fd3434;
        color: #ffffff;
        border: none;
        padding: 1rem; }
  main .cont-info .informacion ul {
    text-align: center; }
    main .cont-info .informacion ul li {
      color: #000000;
      font-size: 20px;
      padding: 7px; }
      main .cont-info .informacion ul li span {
        color: #fd3434; }
      main .cont-info .informacion ul li i {
        color: #ff893b; }

main .sanderors {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 1rem; }
  main .sanderors .info-sandero h2 {
    color: #000000;
    text-align: center; }
    main .sanderors .info-sandero h2 span {
      color: #fd3434; }
  main .sanderors .info-sandero p {
    color: #525252;
    text-align: center; }
  main .sanderors .foto-sandero img {
    width: 400px;
    height: auto;
    border-radius: 1rem; }

main .mercedes {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 1rem; }
  main .mercedes .info-mercedes h2 {
    color: #000000;
    text-align: center; }
    main .mercedes .info-mercedes h2 span {
      color: #fd3434; }
  main .mercedes .info-mercedes p {
    color: #525252;
    text-align: center; }
  main .mercedes .foto-mercedes img {
    width: 400px;
    height: auto;
    border-radius: 1rem; }

main .master {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 1rem; }
  main .master .info-master h2 {
    color: #000000;
    text-align: center; }
    main .master .info-master h2 span {
      color: #fd3434; }
  main .master .info-master p {
    color: #525252;
    text-align: center; }
  main .master .foto-master img {
    width: 400px;
    height: auto;
    border-radius: 1rem; }

main .box {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 1rem; }
  main .box .info-box h2 {
    color: #000000;
    text-align: center; }
    main .box .info-box h2 span {
      color: #fd3434; }
  main .box .info-box p {
    color: #525252;
    text-align: center; }
  main .box .foto-box img {
    width: 400px;
    height: auto;
    border-radius: 1rem; }

footer .footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fd3434;
  padding: 5rem; }
  footer .footer .logo {
    display: flex;
    justify-content: center;
    align-items: center; }
    footer .footer .logo img {
      width: 3rem;
      height: auto; }
    footer .footer .logo h1 {
      color: #ff893b;
      font-weight: 800;
      font-size: 1.5rem; }
      footer .footer .logo h1 span {
        color: #474747; }
  footer .footer .redes i {
    color: #ffffff;
    padding: .5rem;
    font-size: 1.5em; }

footer .segundo-bloque {
  background-color: #fd3434;
  text-align: center;
  padding: 1.5rem;
  border: 1px solid black; }
  footer .segundo-bloque a {
    text-decoration: none; }
    footer .segundo-bloque a h3 {
      color: #ffffff;
      font-size: 1em; }

@media screen and (max-width: 1349px) {
  main .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.562)), url(../img/portada-uno.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5rem;
    padding-bottom: 5rem; }
    main .hero .informacion-hero {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      main .hero .informacion-hero h2 {
        color: #ff893b;
        margin-bottom: 1rem; }
        main .hero .informacion-hero h2 span {
          color: #ffffff; }
      main .hero .informacion-hero p {
        text-align: center;
        color: #ffffff;
        margin-left: .5rem;
        margin-right: .5rem; }
      main .hero .informacion-hero a {
        background-color: #fd3434;
        color: #ffffff;
        padding: 1rem;
        border-radius: 5px;
        margin-top: 1rem; }
  main .about-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    main .about-name img {
      display: none; }
    main .about-name .about-text h2 {
      color: #ff893b;
      margin-bottom: 1rem;
      text-align: center; }
      main .about-name .about-text h2 span {
        color: #525252; }
    main .about-name .about-text p {
      text-align: center;
      padding-left: 0;
      padding-right: 0; }
  main .chofer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 0; }
    main .chofer img {
      margin-bottom: 1rem; }
    main .chofer .tex-chof h2 {
      margin-top: 2rem;
      margin-bottom: 1rem; }
    main .chofer .tex-chof p {
      padding: 1rem; }
  main .sanderors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 1rem; }
    main .sanderors .info-sandero h2 {
      color: #000000;
      text-align: center; }
      main .sanderors .info-sandero h2 span {
        color: #fd3434; }
    main .sanderors .info-sandero p {
      color: #525252;
      text-align: center; }
    main .sanderors .foto-sandero img {
      width: 400px;
      height: auto;
      border-radius: 1rem; }
  main .mercedes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 1rem; }
    main .mercedes .info-mercedes h2 {
      color: #000000;
      text-align: center; }
      main .mercedes .info-mercedes h2 span {
        color: #fd3434; }
    main .mercedes .info-mercedes p {
      color: #525252;
      text-align: center; }
    main .mercedes .foto-mercedes img {
      width: 400px;
      height: auto;
      border-radius: 1rem; }
  main .master {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 1rem; }
    main .master .info-master h2 {
      color: #000000;
      text-align: center; }
      main .master .info-master h2 span {
        color: #fd3434; }
    main .master .info-master p {
      color: #525252;
      text-align: center; }
    main .master .foto-master img {
      width: 400px;
      height: auto;
      border-radius: 1rem; }
  main .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 1rem; }
    main .box .info-box h2 {
      color: #000000;
      text-align: center; }
      main .box .info-box h2 span {
        color: #fd3434; }
    main .box .info-box p {
      color: #525252;
      text-align: center; }
    main .box .foto-box img {
      width: 400px;
      height: auto;
      border-radius: 1rem; }
  main .cont-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    main .cont-info .form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0;
      padding-top: 1rem; }
      main .cont-info .form h2 {
        color: #000000;
        width: 0;
        text-align: center;
        margin-top: 1rem; }
      main .cont-info .form form {
        width: 18rem;
        margin: auto;
        background-color: #ffffff; }
        main .cont-info .form form input {
          margin: 12px;
          padding: 8px;
          width: 18rem; }
        main .cont-info .form form textarea {
          margin: 12px;
          padding: 8px;
          min-width: 18rem;
          max-width: 18rem;
          min-height: 100px;
          max-height: 300px; }
        main .cont-info .form form .btn {
          background-color: #fd3434;
          color: #ffffff;
          border: none;
          padding: 1rem; }
    main .cont-info .informacion {
      border: 0.1px solid #474747;
      margin-top: 4rem;
      margin-bottom: 4rem; }
      main .cont-info .informacion ul {
        text-align: center; }
        main .cont-info .informacion ul li {
          color: #000000;
          font-size: 20px;
          padding: 7px; }
          main .cont-info .informacion ul li span {
            color: #fd3434; }
          main .cont-info .informacion ul li i {
            color: #ff893b; }
  main .formulario-de-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-top: 1rem; }
    main .formulario-de-contacto h2 {
      color: #000000;
      width: 100%;
      text-align: center;
      margin-top: 1rem; }
    main .formulario-de-contacto form {
      width: 18rem;
      margin: auto;
      background-color: #ffffff; }
      main .formulario-de-contacto form input {
        margin: 12px;
        padding: 8px;
        width: 18rem; }
      main .formulario-de-contacto form textarea {
        margin: 12px;
        padding: 8px;
        min-width: 18rem;
        max-width: 18rem;
        min-height: 100px;
        max-height: 300px; }
      main .formulario-de-contacto form .btn {
        background-color: #fd3434;
        color: #ffffff;
        border: none;
        padding: 1rem; } }

@media screen and (max-width: 1349px) {
  main .about-name {
    margin-top: 2rem;
    margin-bottom: 2rem; }
    main .about-name .about-me-foto {
      display: none; }
    main .about-name .about-text p {
      padding: 0; } }

@media screen and (max-width: 1349px) {
  header {
    background-color: #fd3434;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    header .bloque-uno {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 1rem; }
      header .bloque-uno .logo {
        width: 150px;
        height: auto; }
        header .bloque-uno .logo h1 {
          color: #ff893b;
          font-weight: 800;
          font-size: 1.5rem; }
          header .bloque-uno .logo h1 span {
            color: #474747; }
      header .bloque-uno .redes {
        margin-right: 1rem; }
        header .bloque-uno .redes a {
          padding: 2px; }
          header .bloque-uno .redes a i {
            font-size: 1.5em; }
    header .button {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-right: 1rem;
      margin-bottom: 1rem; }
    header .nav {
      border: none;
      width: 100%;
      display: none;
      opacity: 0;
      height: 0vh;
      pointer-events: none;
      overflow: hidden;
      transition: all .5s ease;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center; }
      header .nav .ul {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center; }
      header .nav.activo {
        display: flex;
        opacity: 1;
        height: 50vh;
        pointer-events: auto; }
  footer .footer {
    display: flex;
    flex-direction: column; }
    footer .footer .logo {
      margin-bottom: 1rem; } }
