header{
    background-color: #fd3434;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .bloque-uno{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .logo {
            width: 150px;
            height: auto;
            h1{
                color: #ff893b;
                font-weight: 800;
                font-size: 1.5rem;
                span{
                    color: #474747;
                }
            }
        }
        .redes {
            a {
                padding: .5rem;
                i{
                    color: #ffffff;
                    font-size: 1.5em;
                }
            }
        }
    }
    .button{
            display: none;
            cursor: pointer;
            background-color: transparent;
            border: none;
            svg{
                width: 30px;
                height: 30px;
                color: white;
                transition: 0.3s;
            }
        }
    .nav{
        width: 100%;
        border: 0.1px solid #474747;
        .ul {
            display: flex;
            flex-flow: wrap;
            justify-content: center;
            align-items: center;
                .li {
                    padding: 1rem;
                    a{
                        text-decoration: none;
                        color: #ffffff;
                    }
                }
        }
    }
}