@media screen and (max-width: 1349px) {
    main .hero{
        background-image: linear-gradient(rgba(0, 0, 0, 0.562), rgba(0, 0, 0, 0.562)), url(../img/portada-uno.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 5rem;
        padding-bottom: 5rem;
        .informacion-hero{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h2{
                color: #ff893b;
                margin-bottom: 1rem;
                span{
                    color: #ffffff;
                }
            }
            p{
                text-align: center;
                color: #ffffff;
                margin-left: .5rem;
                margin-right: .5rem;
            }
            a {
                background-color: #fd3434;
                color: #ffffff;
                padding: 1rem;
                border-radius: 5px;
                margin-top: 1rem;
            }
        }
    }
    main .about-name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            display: none;
        }
        .about-text{
            h2{
                color: #ff893b;
                margin-bottom: 1rem;
                text-align: center;
                span{
                    color: #525252;
                }
            }
            p{
                text-align: center;
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
    main .chofer {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 0;
        img{
            margin-bottom: 1rem;
        }
        .tex-chof{
            h2{
                margin-top: 2rem;
                margin-bottom: 1rem;
            }
            p{
                padding: 1rem;
            }
        }
    }
    main .sanderors{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        margin-top: 1rem;
        .info-sandero{
            h2{
                color: #000000;
                text-align: center;
                span{
                    color: #fd3434;
                }
            }
            p{
                color: #525252;
                text-align: center;
            }
        }
        .foto-sandero{
            img{
            width:400px;
            height: auto;
            border-radius: 1rem;
            }
        }
    }
    main .mercedes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        margin-top: 1rem;
        .info-mercedes{
            h2{
                color: #000000;
                text-align: center;
                span{
                    color: #fd3434;
                }
            }
            p{
                color: #525252;
                text-align: center;
            }
        }
        .foto-mercedes{
            img{
            width:400px;
            height: auto;
            border-radius: 1rem;
            }
        }
    }
    main .master{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        margin-top: 1rem;
        .info-master{
            h2{
                color: #000000;
                text-align: center;
                span{
                    color: #fd3434;
                }
            }
            p{
                color: #525252;
                text-align: center;
            }
        }
        .foto-master{
            img{
            width:400px;
            height: auto;
            border-radius: 1rem;
            }
        }
    }
    main .box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        margin-top: 1rem;
        .info-box{
            h2{
                color: #000000;
                text-align: center;
                span{
                    color: #fd3434;
                }
            }
            p{
                color: #525252;
                text-align: center;
            }
        }
        .foto-box{
            img{
            width:400px;
            height: auto;
            border-radius: 1rem;
            }
        }
    }
    main .cont-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        padding-top: 1rem;
        h2{
            color: #000000;
            width: 0;
            text-align: center;
            margin-top: 1rem;
        }
        form{
            width: 18rem;
            margin: auto;
            background-color: #ffffff;
            input{
                margin: 12px;
                padding: 8px;
                width: 18rem;
            }
            textarea{
                margin: 12px;
                padding: 8px;
                min-width: 18rem;
                max-width: 18rem;
                min-height: 100px;
                max-height: 300px;
            }
            .btn {
                background-color: #fd3434;
                color: #ffffff;
                border: none;
                padding: 1rem;
                }
            }
        }
        .informacion{
            border: 0.1px solid #474747 ;
            margin-top: 4rem;
            margin-bottom: 4rem;
            ul{
                text-align: center;
                li{
                    color: #000000;
                    font-size: 20px;
                    padding: 7px;
                    span{
                        color: #fd3434;
                    }
                    i{
                        color: #ff893b;
                    }
                }
            }
        }
    }
    main .formulario-de-contacto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        padding-top: 1rem;
        h2{
            color: #000000;
            width: 100%;
            text-align: center;
            margin-top: 1rem;
        }
        form{
            width: 18rem;
            margin: auto;
            background-color: #ffffff;
            input{
                margin: 12px;
                padding: 8px;
                width: 18rem;
            }
            textarea{
                margin: 12px;
                padding: 8px;
                min-width: 18rem;
                max-width: 18rem;
                min-height: 100px;
                max-height: 300px;
            }
            .btn {
                background-color: #fd3434;
                color: #ffffff;
                border: none;
                padding: 1rem;
            }
        }
    }
}
@media screen and (max-width: 1349px) {
    main .about-name {
        margin-top: 2rem;
        margin-bottom: 2rem;
        .about-me-foto{
            display: none;
        }
        .about-text{
            p{
                padding: 0;
            }
        }
    }
}
@media screen and (max-width: 1349px) {
    header{
        background-color: #fd3434;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .bloque-uno{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: 1rem;
            .logo {
                width: 150px;
                height: auto;
                h1{
                    color: #ff893b;
                    font-weight: 800;
                    font-size: 1.5rem;
                    span{
                        color: #474747;
                    }
                }
            }
            .redes {
                margin-right: 1rem;
                a{
                    padding: 2px;
                    i{
                        font-size: 1.5em;
                    }  
                }
                
            }
        }
        .button{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin-right: 1rem;
                margin-bottom: 1rem;
                
            }
        .nav{
            border: none;
            width: 100%;
            display: none;
            opacity: 0;
            height: 0vh;
            pointer-events: none;
            overflow: hidden;
            transition: all .5s ease;
            @include flex(row, nowrap, center, center);
            .ul {
                @include flex( column, wrap , center, center );
            }
            &.activo {
                display: flex;
                opacity: 1;
                height: 50vh;
                pointer-events: auto;
            }
        }
    }
    footer .footer{
        display: flex;
        flex-direction: column;
        .logo{
            margin-bottom: 1rem;
        }
    }
}